*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cuerpo{
    height: 2000px;
    width: 100%;
    /*background-image: url("./img/alfa-5.JPG");*/
    background-color: black;
}

.banner{
    width: 100%;
    height: 30%;
    animation: cambio 27s infinite;
    background-size: cover;

}

#logo-largo{

    box-sizing: border-box;
    width: 200px;
}

@keyframes cambio {
    0%, 11% {
        background-image: url("./img/alfa-1.jpeg");
    }

    16%, 27% {
        background-image: url("./img/alfa-6.jpg");
    }

    32%, 43% {
        background-image: url("./img/alfa-5.JPG");
    }

    48%, 59% {
        background-image: url("./img/alfa-4.JPG");
    }

    64%, 75% {
        background-image: url("./img/alfa-2.jpg");
    }
    80%, 91% {
        background-image: url("./img/alfa-7.1.jpg");
    }
    96%, 100% {
        background-image: url("./img/alfa-1.jpeg");
    }

}
@media screen and (min-width: 500px){
    
    
}